* {
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    width: 400px;
}
.container .logo {
    text-align: center;
}
.container .comment {
    text-align: center;
    padding-top: 128px;
}
.container .comment span {
    font-family: sans-serif;
    font-weight: bolder;
}
.container .comment p {
    font-size: 32px;
    font-family: sans-serif;
    font-weight:900;
}
.form p {
    font-weight: bolder;
    color: #4A5568;
}
.form input {
    width: 400px;
    height: 50px;
    border: solid 1px #37A9CD;
    border-radius: 5px;
}
.form input::placeholder {
    padding-left: 17px;
    font-size: 17px;
}
.form button {
    background-color: #37A9CD;
    border: solid 1px #37A9CD;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    width: 400px;
    height: 50px;
    margin: 15px 0;
}
.footer {
    text-align: center;
}
.footer a {
    text-decoration: none;
    color:#37A9CD;
}
.footer a:hover {
    color:#1a7a97;
}

#loiGmail {
    display: none; 
    color: red;
}
#loipass {
    display: none; 
    color: red;
}